@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap');

body {
    color: #333333;
}

.font-sans {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.flex {
    display: flex;
    padding: 1.1rem;
    justify-content: space-between;
    height: 100vh;
    flex-wrap: non-wrap;
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.top {
    font-family: Inconsolata;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.top > p {
    margin: 0;
}

.font-mono {
    font-family: "Space Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img {
    max-width: 560px;
    width: 100%;
    height: auto;
}

.grid-img {
    grid-row: 1;
}

figure {
    margin: 0rem;
    padding: 0rem;
}

main header {
    font-size: 1.4rem;
    line-height: 4rem;
}

main section {
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: -0.05rem;
    color: #4F4F4F;
}

main button {
    margin-top: 1.4rem;
    background-color: #333333;
    border: 0px;
    padding: 1.6rem 2.2rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-style: normal;
}

footer {
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: 600;
    align-self: center;
}

footer a {
    color: #333333;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    border-bottom: 1px solid #000000;
}